@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', cursive;
}

body, html {
    background-color: #0011a8;
    height: 100%;
}

header {
    text-align: center;
    padding: 2px 0;
}

#logo {
    
    width: 50px;
    height: auto;

}

.container {
    position: relative;
    top: 170px; /* Ajustado para alinhamento com o logo */
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    background-color: #ffffff;
    width: 400px;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

.container h1 {
    color: #2e43fa;
    margin-bottom: 20px;
}

.button-container {
    margin-bottom: 20px;
}

.button-container .button {
    display: block;
    font-size: 1rem;
    line-height: 2rem;
    font-weight: 800;
    text-transform: uppercase;
    width: 100%;
    padding: 0.75rem 1.5rem;
    cursor: pointer;
    background: transparent;
    color: #2e43fa;
    border: 1px solid currentColor;
    border-radius: 4px;
    margin-top: 10px;
    text-decoration: none;
    transition: 0.3s;
}

.button-container .button:hover, 
.button-container .button:focus {
    color: #ffffff;
    background-color: #0011a8;
}

.back-link {
    display: block;
    font-size: 1rem;
    line-height: 2rem;
    font-weight: 800;
    text-transform: uppercase;
    width: 100%;
    padding: 0.75rem 1.5rem;
    cursor: pointer;
    background: transparent;
    color: #2e43fa;
    border: 1px solid currentColor;
    border-radius: 4px;
    margin-top: 10px;
    text-decoration: none;
    transition: 0.3s
}

.back-link:hover,
.back-link:focus {
    color: #ffffff;
    background-color: #0011a8;
}