@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', cursive;
}

body, html {
    background-color: #0011a8;
    height: 100%;
}

#logo {
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    width: 100px;
    height: auto;
}

.container {
    position: relative;
    top: 120px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    background-color: #ffffff;
    width: 400px;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

.container h1 {
    color: #2e43fa;
    margin-bottom: 20px;
}

.container label {
    display: block;
    margin-bottom: 10px;
    color: #2e43fa;
    font-weight: bold;
}

.container input[type="email"] {
    background-color: #ffffff;
    width: calc(100% - 22px); /* Ajusta para acomodar o padding */
    height: 40px;
    margin: 10px 0;
    box-sizing: border-box;
    border-radius: 6px;
    border: none;
    border-bottom: 1px solid #6d6d6d;
    padding-left: 10px;
}

.container input[type="submit"] {
    font-size: 1rem;
    line-height: 2rem;
    font-weight: 800;
    text-transform: uppercase;
    width: 100%;
    padding: 0.75rem 1.5rem;
    cursor: pointer;
    background: transparent;
    color: #2e43fa;
    border: 1px solid currentColor;
    border-radius: 4px;
    margin-top: 20px;
    transition: 0.3s;
}

.container input[type="submit"]:hover,
.container input[type="submit"]:focus {
    color: #ffffff;
    background-color: #0011a8;
}

.container a.button {
    display: block;
    margin-top: 20px;
    text-decoration: none;
    font-size: 1rem;
    line-height: 2rem;
    font-weight: 800;
    text-transform: uppercase;
    background: transparent;
    color: #2e43fa;
    border: 1px solid currentColor;
    border-radius: 4px;
    padding: 0.75rem 1.5rem;
    text-align: center;
    transition: 0.3s;
}

.container a.button:hover,
.container a.button:focus {
    color: #ffffff;
    background-color: #0011a8;
}

.result-message{


    font-size: 20px;
}